form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background-color: #000;
    color: #fff;
    height: 40px;
}
button:disabled{
    background-color: gray;
}
img{
    width: 600px;
    height: 500px;
}